body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif !important;
}

h1 {
    font-size: 50px;
    color: #891817;
}

p,
li {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 28px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    color: #32383c;
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none !important;
}

.row {
    width: 100%;
}

.regular_heading {
    margin-bottom: 25px;
    text-align: center;
}

.regular_heading h5 {
    font-size: 16px;
    color: #32383c;
    font-weight: 600;
}

.regular_heading h1 {
    font-size: 50px;
    color: #891817;
    font-weight: 600;
}

.btn_default {
    border-radius: 4px;
    background-color: rgb(213, 171, 81);
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

header nav.navbar {
    padding: 0;
}

.wrap_topbar {
    background-color: #891817;
    padding: 12px 50px;
    border-radius: 0px 0px 80px 80px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.reach_us a {
    color: #fff;
    margin: 0 30px 0 0;
    position: relative;
    font-weight: 300;
}

.reach_us a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -17px;
    height: 80%;
    width: 1px;
    background-color: #fff;
    transform: translateY(-50%);
}

.social_ic {
    margin-left: 5px;
}

.social_ic a {
    color: #fff;
    margin-right: 8px;
    font-size: 14px;
}

.reach_us a svg {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 12px;
}

.logo_div {
    position: relative;
}

a.navbar-brand {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -20px;
}
.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
header .navbar-nav {
    padding: 15px 0;
    flex-direction: row;
}
header .navbar-nav a {
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 25px;
    color: #333;
    font-weight: 500;
}

header .navbar-collapse {
    padding: 15px 0;
}

.cart_div a {
    display: block;
    padding: 5px 10px;
    background-color: #d5ab51;
    color: #000033;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
}

.cart_div a span {
    vertical-align: middle;
    margin-left: 5px;
}

@media screen and (min-width: 768px) {
    .nav-btn {
      display: none;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin-left: 4rem;
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }

  .banner_sec {
    padding: 50px 0;
    background-image: url(./images/bg_banner.jpg);
}
.banner_content h1 {
    color: #d5ab51;
    font-size: 70px;
    font-weight: 600;
}
.banner_content h1 span {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.banner_content p {
    color: #fff;
    margin: 20px 0;
}
.innerpage_sec {
    height: 350px;
    display: flex;
    align-items: center;
}

/* Pillar Sec */
.pillar_sec {
    padding: 70px 0 0;
}
.pillar_inner {
    position: relative;
    margin-bottom: -1px;
}
.div_pos {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
.div_pos .row {
    height: 100%;
}
.pos h5 {
    color: #fff;
    margin: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.pos {
    position: absolute;
    text-align: center;
}
.salat_div {
    top: 23.5%;
    left: 44.4%;
}
.kalma_div {
    top: 60%;
    left: 10.5%;
}
.zakat_div {
    top: 17px;
    left: 51px;
}
.fastin_div {
    top: 23%;
    left: 40%;
}
.hajj_div {
    top: 60%;
    right: 14%;
}
.text_about {
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 35px;
    width: 75%;
}
.text_about p {
    font-size: 15px;
    color: #fff;
    line-height: 24px;
}
.text_about img {
    margin-bottom: 25px;
}
/* end Pillar Sec */

/* About Sec */
.about_sec {
    padding: 70px 0;
    background-image: url(./images/bg_about_sec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about_content h1 {
    color: #d5ab51;
    font-size: 60px;
    margin-bottom: 20px;
}
.about_content p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}
/* End About Sec */

/* Packages CSS */
.package_sec {
    padding: 60px 0 0;
}
.package_content {
    padding-top: 20px;
}
.content_div {
    margin-bottom: 35px;
}
.content_div p {
    font-weight: 500;
}
.pkg_box {
    box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.head_pkg {
    background-color: #32383c;
    padding: 10px 0;
    text-align: center;
}
.head_pkg h4 {
    color: #fbbf40;
}
.pkg_box_content {
    padding: 35px 25px 50px;
}
.pkg_box_content h4 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.pkg_box_content .img-fluid {
    margin: 10px 0 25px 0;
}
.pkg_box_content p {
    font-size: 16px;
    margin-bottom: 40px;
}
a.pkg_btn {
    border: 1px solid rgba(153, 153, 153, 0.3);
    padding: 8px 30px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
    font-weight: 500;
    display: table;
    margin: 0 auto;
}
.pkg_box_content .btn_default {
    padding: 7px 20px;
}
.pkg_div {
    margin-bottom: -23px;
}
/* End Packages CSS */